In [1]:
# 1️⃣ Split data into Train and Test
# 2️⃣ Apply feature scaling ONLY on training data
# 3️⃣ Transform test data using same scaler

import pandas as pd

In [2]:
df=pd.read_csv('Simple.csv')

In [3]:
df.head()

    Name  Age  Gender       City Adult    Sal  Exp  Buy
0    Ram   56    male     mumbai   yes  20000    3    1
1  Shyam   12    male      delhi    no  43000    2    0
2  Lalit   30  female   parbhani   yes  22000    1    1
3    Raj   20    male  Banghlore   yes  15000    6    0
4   Ramu   15  female  Banghlore    no  34000    4    0

In [4]:
# Train Test And Split data

from sklearn.model_selection import train_test_split

x=df[['Age','Sal','Exp']]
y=df['Buy']

x_train,x_test,y_train,y_test=train_test_split(
    x,y,test_size=0.2,random_state=42
)
print("x_train")
print(x_train)
print("\n x_test")
print(x_test)

x_train
   Age    Sal  Exp
5   19  21000    2
2   30  22000    1
4   15  34000    4
3   20  15000    6
6   18  67890    7

 x_test
   Age    Sal  Exp
0   56  20000    3
1   12  43000    2

In [10]:
#Applying Feature Scaling On Train data and Transform Test data

from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()

x_train_scale=scalar.fit_transform(x_train)
print('\n After Feature scaling on Only Train Data')
print(x_train_scale)

print('\n After Only transform Test Data')
x_test_scaler=scalar.transform(x_test)
print(x_test_scaler)

 After Feature scaling on Only Train Data
[[-0.27541132 -0.57825584 -0.87705802]
 [ 1.88853474 -0.52558178 -1.31558703]
 [-1.06230079  0.10650695  0.        ]
 [-0.07868895 -0.89430021  0.87705802]
 [-0.47213369  1.89163088  1.31558703]]

 After Only transform Test Data
[[ 7.00331633 -0.6309299  -0.43852901]
 [-1.6524679   0.5805735  -0.87705802]]